.update-book-button{
width: 125px;
height: 33px;
padding: 5px 10px;
margin-top: 25px;
margin-left: 120px;
background-color: #293a5a;
color: white;
border-radius:7px;
border: 1px solid #ccc;
transition: transform 0.2s ease;
}

.update-book-button:hover{
    background-color: #3e5e9e;
transform: scale(1.05);
cursor: pointer;
}

.home-button-adjust-update-book-page{
    width: 125px;
height: 33px;
padding: 5px 10px;
margin-top: 25px;
margin-left: 700px;
background-color: #293a5a;
color: white;
border-radius:7px;
border: 1px solid #ccc;
transition: transform 0.2s ease;

}

.home-button-adjust-update-book-page:hover{
    background-color: #3e5e9e;
transform: scale(1.05);
cursor: pointer;
}


.update-logout-button{
    width: 125px;
    height: 33px;
    padding: 5px 10px;
    margin-top: 25px;
    background-color: #293a5a;
    color: white;
    border-radius:7px;
    border: 1px solid #ccc;
    transition: transform 0.2s ease;
}


.update-logout-button:hover{
    background-color: #3e5e9e;
transform: scale(1.05);
cursor: pointer;
}